<div class="login-container">
  <div class="left-side">
    <h2>¡Hola, Bienvenido a Detect!</h2>
    <p>¿No tienes una cuenta?</p>
    <button routerLink="/register">Registrarse</button>
  </div>

  <div class="right-side">
    <h2>Iniciar Sesión</h2>
    <form>
      <div class="input-group">
        <input type="text" placeholder="Usuario" required />
        <i class="fa fa-user icon"></i>
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" required />
        <i class="fa fa-lock icon"></i>
      </div>
      <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
      <button type="submit" class="login-btn">Iniciar Sesión</button>

      
      
    </form>
  </div>
</div>
