<div class="login-container">
  <div class="left-side">
    <h2>¡Hola, Bienvenido!</h2>
    <p>En detect el acceso es solo para cuentas verificadas.</p>
    <button routerLink="/landing-page">Inicio</button>

  </div>

  <!-- Lado derecho con el formulario de login -->
  <div class="right-side">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="text"
          placeholder="Usuario"
          [(ngModel)]="username"
          name="username"
          required
        />
        <i class="fas fa-user icon"></i>
      </div>

      <div class="input-group ">
        <input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          required
        />
        <i class="fas fa-lock icon"></i>
      </div>


      <button type="submit" class="login-btn">Iniciar sesión</button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

    
    </div>
  </div>
