.stats-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Altura predeterminada para las tarjetas */
}

.card.large {
  height: 400px; /* Altura para la gráfica de línea grande */
}

.small-charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}