<div *ngIf="isBrowser" class="stats-container">
  <!-- Barras -->
  <div class="card">
    <canvas baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      type="bar">
    </canvas>
  </div>

  <!-- Pastel -->
  <div class="card">
    <canvas baseChart
      [data]="pieChartData"
      [options]="pieChartOptions"
      type="pie">
    </canvas>
  </div>

  <!-- Línea -->
  <div class="card">
    <canvas baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      type="line">
    </canvas>
  </div>

  <!-- Radar -->
  <div class="card">
    <canvas baseChart
      [data]="radarChartData"
      [options]="radarChartOptions"
      type="radar">
    </canvas>
  </div>
</div>
