<!-- SIDEBAR -->
<section id="sidebar">
  <button class="brand" (click)="navigateTo('landing-page')">
    <img src="assets/detect_logo.png" alt="Logo" class="logo-img" /><h1>Detect</h1>
  </button>
  <ul class="side-menu">
    <li>
      <button (click)="navigateTo('home')"><i class='bx bxs-dashboard icon'></i> Inicio</button>
    </li>  
    <li>
      <button (click)="navigateTo('users')"><i class='bx bxs-chart icon'></i> Usuarios</button>
    </li>
    <li>
      <button (click)="navigateTo('devices')"><i class='bx bxs-widget icon'></i> Equipos</button>
    </li>
    <li>
      <button (click)="navigateTo('examples')"><i class='bx bx-book icon'></i> Ejemplos</button>
    </li>
    <li>
      <button (click)="navigateTo('livevideo')"><i class='bx bx-video icon'></i> Video en vivo</button>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
