<div class="register-container">
  <div class="form-section">
    <h2>Crear una cuenta</h2>
    <div class="social-icons">
      
    </div>
    
    <form>
      <input type="text" placeholder="Nombre" required />
      <input type="email" placeholder="Correo" required />
      <input type="password" placeholder="Contraseña" required />
      <button type="submit">REGISTRATE  </button>
    </form>
  </div>
  <div class="info-section">
    <h2>Bienvenido!</h2>
    <p>Si ya tienes una cuenta,inicia sesion.</p>
    <a routerLink="/login"><button>Iniciar sesion</button></a>
  </div>
</div>
